<html>
    <body>
        <center>
            <h1> Sentiment Analysis </h1>
            <br><br><br><br>
            
            <table border=2>
                {% for key,value in output.items() %}
                <tr>
                    <th>{{key}}</th>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </table>
            
            <a href="http://127.0.0.1:5000/"><button> Go Back </button></a>
            <br><br><br>
                <hr><p> designed by ABC</p><hr>
            
            
        </center>
    </body>
</html>